<%= form_for :problem, url: problems_path do |f| %>
<p>
  <%= f.label :usertesting_email %><br>
  <%= f.text_field :user_name %>
</p>

<p>
  <%= f.label :problem_name %><br>
  <%= f.text_field :problem_name %>
  <%= f.select :prob_type, [['Select a problem type', nil], 'Downtime', 'Bug', 'fat'] %>
</p>

<p>
  <%= f.label :problem_description %><br>
  <%= f.text_area :problem_des %>
</p>

<p>
  <%= f.submit %> 
</p>
<% end %>
